@import "tailwindcss";

@theme {

  --font-retro: "Courier New", monospace;
  
  --color-bg: #fdf6e3;
  --color-text: #3b2e2e;
  --color-primary: #c97d60;
  --color-secondary: #fff8dc;
  --color-accent: #d2691e;
  --color-accent-hover: #a0522d;
  --color-border: #b5895c;
  --color-success: #6b8e23;
}

body {
  margin: 0;
  font-family: var(--font-retro);
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
}